<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite for Regression Testing">
    <test name="Login test Cases for Regression testing">
        <classes>
            <class name="com.orangehrmlive.OrangeHrmLoginWithTestNG"></class>
            <class name="com.orangehrmlive.LoginApplication"></class>
        </classes>
    </test>
</suite>